.header {
  padding: 1.2rem 0 1.9rem;
  position: relative;

  &::after {
    position: absolute;
    top: 55%;
    left: 0;
    content: '';
    width: 100vw;
    background-color: rgba($color: #55a630, $alpha: 50%);
    height: 1px;
    @media (max-width: 1000px) {
      display: none;
    }
  }
}

.header-container {
}

.header__main-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;
}

.logo {
  --size: 6.2rem;

  display: flex;
  column-gap: 11.07px;
  max-width: 326px;
  align-items: center;
  @include focus;

}

.logo__link {
}

.logo__img {
  object-fit: cover;
  object-position: center;
  width: var(--size);
  height: var(--size);
}

.logo__text {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: -0.6px;
  color: rgba($color: #1C1E23, $alpha: 80%);
  @media (max-width: 1000px) {
    display: none;
  }
}

.header__action-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

.header__phone {
  display: flex;
  column-gap: 22px;
  align-items: center;

}

.header__phone--text {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.04;
}

.header__phone--img {
  width: 28px;
  height: 28px;
  fill: #55A630;
  @include max768 { //it`s sample
    width: 11px;
  }
}

.header__social {
  transform: translateX(5px);
}

.social {
  --icon-size: 2.8rem;
  --gap: 2.6rem;
  --color: var(--primary-color);

  display: flex;
  column-gap: var(--gap);

  a {
    @include focus;

    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--color);

    svg {
      width: 100%;
      height: 100%;
      color: inherit;
      fill: currentColor;
      object-fit: cover;
    }
  }
}

.lng-selector {
  position: relative;
  display: flex;
  align-items: flex-start;
  column-gap: 1.4rem;
  color: var(--primary-color);

  @include focus;

}

.lng-selector__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.lng-selector__icon {
  display: block;
  width: 11px;
  height: 6.27px;
  margin-top: 12px;
  color: var(--primary-color);

  svg {
    width: 100%;
    height: 100%;
    color: inherit;
    fill: currentColor;
    object-fit: cover;
  }
}


.header__secondary-line {
}

.header__menu {

}

.menu {
}

.menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.62;
}
