.hero {
   padding: 104px 0 138px;
   background-image: url("@img/home-page-hero-bgi.png");
   background-position: bottom -15% right 12.14%;
   background-size: 681px 556px;
   background-repeat: no-repeat;
   background-color: #ecffeb;

   @include max1200 {
      padding: 75px 0 97px;
      background-position: bottom 0 right 0%;
      background-size: 527px 430px;
   }

   @include max1000 {
      padding: 77px 0 97px;
      background-position: bottom 0% right 0%;
      background-size: 527px 430px;
   }

   @include max992 {
      background-position: bottom 0% right -49px;
      background-size: 470px 383.7px;
   }

   @include max834 {
      padding: 45px 0 51px;
      background-position: bottom 0% right -59px;
      background-size: 354px 289px;
   }

   @include max768 {
      padding: 37px 0 30px;
      background-position: bottom 0% right 11.9%;
      background-size: 354px 289px;
   }

   @include max672 {
      background-position: bottom 0% right -3.9%;
      background-size: 290px 245px;
   }

   @include max480 {
      padding: 41px 0 33px;
      background-position: bottom -7.6% right 8.9%;
      background-size: 232px 192px;
   }

   @include max320 {
      padding-top: 38.4px;
      background-position: bottom 0% right 0%;
      background-size: 231px 196px;
   }
}

.hero__container {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 20px;

   @include max320 {
      max-width: 222px;
   }
}

.hero__main-title {
   font-weight: 700;
   font-size: 65px;
   line-height: 1;
   text-transform: uppercase;
   color: var(--primary-color);

   @include max992 {
      font-size: 56px;
      line-height: 1;
   }

   @include max834 {
      font-size: 50px;
      line-height: 1;
   }

   @include max768 {
      font-size: 40px;
      line-height: 1;
   }

   @include max672 {
      font-size: 30px;
      line-height: 1.04;
   }

   @include max480 {
      font-size: 24px;
      line-height: 1.04;
   }

   @include max320 {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      line-height: 0.93;
      text-align: center;
   }
}

.hero__main-text {
   margin-top: 19px;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.15;
   color: #424242;

   @include max992 {
      font-size: 16px;
      line-height: 1.07;
   }

   @include max834 {
      margin-top: 12px;
   }

   @include max768 {
      margin-top: 9px;
      font-size: 14px;
      line-height: 1.07;
   }

   @include max672 {
      margin-top: 12px;
      font-size: 10px;
      line-height: 1.15;
   }

   @include max480 {
      margin-top: 11px;
      font-size: 8px;
      line-height: 1.25;
   }

   @include max320 {
      grid-column: 2 span;
      margin-top: 12px;
      font-size: 10px;
      line-height: 1.2;
      text-align: center;
   }
}

.hero__content {
   grid-column: 6 span;

   @include max1000 {
      grid-column: 7 span;
   }

   @include max320 {
      grid-column: 12 span;
   }
}

.hero__btns-block {
   display: flex;
   column-gap: 20px;
   align-items: center;
   margin-top: 58px;

   @include max1000 {
      column-gap: 25px;
      margin-top: 45px;
   }

   @include max834 {
      flex-wrap: wrap;
      row-gap: 17px;
      margin-top: 33px;
   }

   @include max768 {
      margin-top: 27px;
   }

   @include max480 {
      row-gap: 12px;
      margin-top: 17px;
   }
}

.hero__btn {
   flex: 0 0 285px;
   padding: 20px 10px;
   font-size: 18px;
   text-align: center;

   @include max1000 {
      flex: 0 0 247px;
      padding: 14px 10px;
   }

   @include max768 {
      flex: 0 0 220px;
      padding: 17px 10px;
      font-size: 15px;
      line-height: 0.8;
   }

   @include max672 {
      flex: 0 0 180px;
      padding: 12.5px 16.5px;
      font-size: 13px;
      line-height: 0.75;
   }

   @include max480 {
      flex: 0 0 140px;
      padding: 10.5px 26.5px;
      font-size: 8px;
      line-height: 0.75;
   }

   @include max320 {
      flex: 0 0 140px;
      padding: 10px 26.5px;
      font-size: 8px;
      line-height: 0.75;
   }
}
