.burger-btn {
   @include focus($offset: 1px, $width: 4px);

   position: relative;
   display: flex;
   align-items: center;
   width: 50px;
   height: 30px;
   padding-bottom: 12px;

   span {
      display: block;
      width: 80%;
      height: 5px;
      background-color: var(--primary-color);
      pointer-events: none;

      &::before {
         content: "";
         position: absolute;
         top: -6px;
         left: 0;
         width: 100%;
         height: inherit;
         background-color: inherit;
      }

      &::after {
         content: "";
         position: absolute;
         bottom: 6.2px;
         left: 0;
         width: 100%;
         height: inherit;
         background-color: inherit;
      }
   }

   @include max480 {
      width: 30px;
      height: 20px;
      transform: translateX(3px);
   }

   @include max390 {
      width: 30px;
      height: 20px;
      transform: translate(-5px, 5px);
   }
}

.mobile-menu {
   position: absolute;
   top: 0;
   left: -100%;
   z-index: 100;
   display: none;
   width: 100vw;
   height: 100vh;
   background-color: rgb($color:#424242, $alpha:55%);
   opacity: 0;
   transition: opacity 0.38s ease-in-out;

   &.active {
      left: 0;
      opacity: 1;
   }

   @include max1000 {
      display: block;
   }
}

.mobile-menu__body {
   position: relative;
   z-index: 220;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   overflow: auto;
   width: 368px;
   max-height: 100vh;
   padding: 29px 35px 117px;
   background-color: var(--color-white);
   transform: translateX(-100%);
   transition: transform 0.38s ease-in-out;

   &.active {
      transform: translateX(0);
   }

   @include max390 {
      width: 286px;
      height: 100vh;
      padding: 20px 24px 50px;
   }
}

.mobile-menu__phone {
   @include focus;

   display: flex;
   column-gap: 13px;
   align-items: center;
   font-weight: 500;
   font-size: 22px;
   line-height: 26px;

   img {
      width: 23px;
      height: 23px;

      @include max390 {
         width: 15px;
         height: 15px;
      }
   }

   @include max390 {
      column-gap: 8px;
      font-size: 15px;
      line-height: 1.13;
   }
}

.mobile-menu__lng-selector {
   margin-top: 44px;

   @include max390 {
      margin-top: 32px;
   }
}

.mobile-menu__nav {
   margin-top: 44px;

   @include max390 {
      margin-top: 24.8px;
   }
}

.mobile-menu__list {
   display: flex;
   flex-direction: column;
   row-gap: 16px;
   align-items: flex-start;
   justify-content: space-between;
   font-weight: 500;
   font-style: normal;
   font-size: 20px;
   line-height: 1.62;

   a {
      transition:
         color 0.2s ease-in-out,
         outline 0.05s linear;
   }

   a:focus {
      outline: none;
   }

   a:focus-visible {
      outline: 4px solid #b25200;
      outline-offset: 1px;
   }

   a:hover {
      color: var(--primary-color);
   }

   @include max390 {
      row-gap: 13.5px;
   }
}

.mobile-menu__social {
   --icon-size: 31px;
   --gap: 30px;

   margin-top: 52px;

   @include max390 {
      --icon-size: 30px;
      --gap: 26.86px;

      margin-top: 45px;
   }
}

.mobile-menu-close {
   position: absolute;
   top: 3.6%;
   right: 6.5%;
   width: 30px;
   height: 30px;

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      pointer-events: none;

      @include max390 {
         width: 20px;
         height: 20px;
      }
   }

   @include max390 {
      top: 2.8%;
      right: 16.5%;
   }
}
